h1 a {
    color: #FCA205;
    font-family: 'Lobster', cursive;
}


.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
    font-size: 14px;
    font-weight: 400px;
    border: 1px solid transperent;
    border-radius: 4px;
    border-color: lightgray;
    text-align: center;
    padding: 6px 12px;

}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.nav-item active{
    padding 8px 8px 8px 8px;
}

.navbar {
    margin: 0px 0px 0px 0px;
}

.container {
    height 56px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-pencil:before {
  content: "\270f";
}

.glyphicon-plus:before {
  content: "\2b";
}

.btn{
    background: #F5F5F5;
    border-color: lightgray;
    border-style: solid;
    margin-bottom: 10px;
}

.save btn btn-default {
    width: 50px;
}

.del_button{
    background-color: red;
}