@charset "UTF-8";
/* reset */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, input, select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  letter-spacing: -0.04em; }

img {
  max-width: 100%;
  vertical-align: middle; }

body {
  line-height: 1;
  font-size: 20px;
  color: #333; }

main {
  display: block; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul, ol, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  margin: 0;
  padding: 0;
  opacity: 0.7; }

input, select, textarea {
  vertical-align: middle;
  outline: 0; }

button {
  outline: 0;
  cursor: pointer;
  border: none;
  background: none; }

em {
  font-style: normal; }

a:hover {
  text-decoration: none; }

/* //reset */
.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  z-index: 2;
  padding: 0; }
  .container::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 80px;
    background: #000;
    opacity: .7;
    z-index: -1; }
  .container .navbar {
    position: relative;
    height: 80px;
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0; }
    .container .navbar .navbar-brand {
      width: 165px;
      font-size: 24px;
      font-weight: 700;
      margin-right: 480px;
      z-index: 1;
      color: #fff; }
    .container .navbar .navbar-collapse {
      width: 500px;
      z-index: 2; }
      .container .navbar .navbar-collapse ul {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .container .navbar .navbar-collapse ul li a {
          padding-right: 1.5rem;
          color: #fff !important; }
  .container.polls_index, .container.polls_detail, .container.polls_results, .container.polls_all_results, .container.bookmark_bookmark_list, .container.bookmark_bookmark_detail, .container.bookmark_bookmark_update, .container.bookmark_bookmark_confirm_delete, .container.bookmark_bookmark_create {
    position: relative;
    width: 100%;
    padding-top: 70px; }
    .container.polls_index:after, .container.polls_detail:after, .container.polls_results:after, .container.polls_all_results:after, .container.bookmark_bookmark_list:after, .container.bookmark_bookmark_detail:after, .container.bookmark_bookmark_update:after, .container.bookmark_bookmark_confirm_delete:after, .container.bookmark_bookmark_create:after {
      display: none; }
    .container.polls_index:before, .container.polls_detail:before, .container.polls_results:before, .container.polls_all_results:before, .container.bookmark_bookmark_list:before, .container.bookmark_bookmark_detail:before, .container.bookmark_bookmark_update:before, .container.bookmark_bookmark_confirm_delete:before, .container.bookmark_bookmark_create:before {
      content: "Polls";
      position: relative;
      display: inline-block;
      width: 1140px;
      font-size: 35px;
      left: 50%;
      transform: translateX(-50%);
      color: #000;
      text-align: center;
      padding-bottom: 20px; }
    .container.polls_index .row, .container.polls_detail .row, .container.polls_results .row, .container.polls_all_results .row, .container.bookmark_bookmark_list .row, .container.bookmark_bookmark_detail .row, .container.bookmark_bookmark_update .row, .container.bookmark_bookmark_confirm_delete .row, .container.bookmark_bookmark_create .row {
      position: relative;
      width: 1140px;
      padding: 25px 0;
      margin: auto; }
      .container.polls_index .row .col, .container.polls_detail .row .col, .container.polls_results .row .col, .container.polls_all_results .row .col, .container.bookmark_bookmark_list .row .col, .container.bookmark_bookmark_detail .row .col, .container.bookmark_bookmark_update .row .col, .container.bookmark_bookmark_confirm_delete .row .col, .container.bookmark_bookmark_create .row .col {
        padding: 0; }
        .container.polls_index .row .col ul, .container.polls_detail .row .col ul, .container.polls_results .row .col ul, .container.polls_all_results .row .col ul, .container.bookmark_bookmark_list .row .col ul, .container.bookmark_bookmark_detail .row .col ul, .container.bookmark_bookmark_update .row .col ul, .container.bookmark_bookmark_confirm_delete .row .col ul, .container.bookmark_bookmark_create .row .col ul {
          border-top: 2px solid #000; }
          .container.polls_index .row .col ul li, .container.polls_detail .row .col ul li, .container.polls_results .row .col ul li, .container.polls_all_results .row .col ul li, .container.bookmark_bookmark_list .row .col ul li, .container.bookmark_bookmark_detail .row .col ul li, .container.bookmark_bookmark_update .row .col ul li, .container.bookmark_bookmark_confirm_delete .row .col ul li, .container.bookmark_bookmark_create .row .col ul li {
            position: relative;
            padding: 20px 0;
            border-bottom: 1px solid #ccc;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            .container.polls_index .row .col ul li::before, .container.polls_detail .row .col ul li::before, .container.polls_results .row .col ul li::before, .container.polls_all_results .row .col ul li::before, .container.bookmark_bookmark_list .row .col ul li::before, .container.bookmark_bookmark_detail .row .col ul li::before, .container.bookmark_bookmark_update .row .col ul li::before, .container.bookmark_bookmark_confirm_delete .row .col ul li::before, .container.bookmark_bookmark_create .row .col ul li::before {
              content: "·";
              font-size: 20px;
              width: 20px;
              text-align: center; }
            .container.polls_index .row .col ul li a, .container.polls_detail .row .col ul li a, .container.polls_results .row .col ul li a, .container.polls_all_results .row .col ul li a, .container.bookmark_bookmark_list .row .col ul li a, .container.bookmark_bookmark_detail .row .col ul li a, .container.bookmark_bookmark_update .row .col ul li a, .container.bookmark_bookmark_confirm_delete .row .col ul li a, .container.bookmark_bookmark_create .row .col ul li a {
              color: #000; }
        .container.polls_index .row .col .al, .container.polls_detail .row .col .al, .container.polls_results .row .col .al, .container.polls_all_results .row .col .al, .container.bookmark_bookmark_list .row .col .al, .container.bookmark_bookmark_detail .row .col .al, .container.bookmark_bookmark_update .row .col .al, .container.bookmark_bookmark_confirm_delete .row .col .al, .container.bookmark_bookmark_create .row .col .al {
          margin-top: 30px;
          padding: 20px 50px;
          color: #fff;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 35px auto 0 auto;
          color: #fff;
          font-weight: 500;
          background: #ea545d;
          border-radius: 30px;
          font-size: 20px; }
  .container.polls_detail .row .col {
    border: 1px solid #eee;
    border-radius: 30px;
    overflow: hidden;
    padding: 30px;
    background: #f9f9f9; }
    .container.polls_detail .row .col h1 {
      font-size: 26px;
      font-weight: 500;
      padding: 0 0 20px 0;
      margin-bottom: 30px;
      border-bottom: 6px solid #ccc; }
    .container.polls_detail .row .col p {
      background: red;
      color: #fff;
      margin: 0 15px 30px 15px;
      padding: 25px 0;
      text-align: center; }
    .container.polls_detail .row .col form {
      padding-left: 15px; }
      .container.polls_detail .row .col form label {
        margin-bottom: 20px; }
      .container.polls_detail .row .col form input[type=submit] {
        background: #ea545d;
        padding: 10px 25px;
        border-radius: 15px;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px; }
  .container.polls_detail .row .col-12 > a {
    background: #999;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 0; }
  .container.polls_results .row .col {
    border: 1px solid #eee;
    border-radius: 30px;
    overflow: hidden;
    padding: 30px;
    background: #f9f9f9; }
    .container.polls_results .row .col h1 {
      font-size: 26px;
      font-weight: 500;
      padding: 0 0 20px 0;
      margin-bottom: 0; }
    .container.polls_results .row .col > a {
      background: #ea545d;
      width: 150px;
      height: 40px;
      border-radius: 15px;
      color: #fff;
      font-weight: 700;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px; }
  .container.polls_results .row .col-12 > a {
    background: #999;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 0; }
  .container.polls_all_results .row .col ul {
    border: 1px solid #eee;
    border-radius: 30px;
    overflow: hidden;
    padding: 30px;
    background: #f9f9f9;
    margin-bottom: 50px; }
    .container.polls_all_results .row .col ul b {
      font-size: 26px;
      font-weight: 500;
      padding: 20px 0 20px 0;
      display: inline-block;
      width: 100%;
      background: #fff;
      border-radius: 30px;
      padding-left: 20px;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15); }
  .container.polls_all_results .row .col > a {
    background: #999;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 0; }
  .container.polls_all_results .row .col-12 > a {
    background: #999;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 0; }
  .container.bookmark_bookmark_list:before, .container.bookmark_bookmark_detail:before, .container.bookmark_bookmark_update:before, .container.bookmark_bookmark_confirm_delete:before, .container.bookmark_bookmark_create:before {
    content: "Bookmark"; }
  .container.bookmark_bookmark_list .row .col .btn-group {
    margin-bottom: 15px; }
    .container.bookmark_bookmark_list .row .col .btn-group .btn-info {
      color: #fff;
      background-color: #ea545d;
      border-color: #ea545d; }
  .container.bookmark_bookmark_list .row .col table {
    margin-bottom: 0; }
    .container.bookmark_bookmark_list .row .col table tr th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
      background: #efefef;
      padding: 20px 0.75rem;
      border-top: 2px solid #000; }
    .container.bookmark_bookmark_list .row .col table tr td a {
      border: none; }
      .container.bookmark_bookmark_list .row .col table tr td a.btn-success {
        background: #277cdb; }
      .container.bookmark_bookmark_list .row .col table tr td a.btn-danger {
        background: #000; }
  .container.bookmark_bookmark_list .row .col ul li {
    border-bottom: none; }
    .container.bookmark_bookmark_list .row .col ul li::before {
      display: none; }
  .container.bookmark_bookmark_detail .row .col {
    border: 1px solid #eee;
    border-radius: 30px;
    overflow: hidden;
    padding: 30px;
    background: #f9f9f9;
    display: flex;
    align-items: center; }
    .container.bookmark_bookmark_detail .row .col > div {
      line-height: 1.5;
      width: 900px; }
    .container.bookmark_bookmark_detail .row .col > br {
      display: none !important; }
    .container.bookmark_bookmark_detail .row .col a {
      border: none;
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 28px; }
      .container.bookmark_bookmark_detail .row .col a.btn-success {
        background: #277cdb;
        margin-right: 15px; }
      .container.bookmark_bookmark_detail .row .col a.btn-danger {
        background: #000; }
  .container.bookmark_bookmark_detail .row .col-12 > a {
    background: #999;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 0; }
  .container.bookmark_bookmark_create .row .col {
    border: 1px solid #eee;
    border-radius: 30px;
    overflow: hidden;
    padding: 30px;
    background: #f9f9f9;
    display: flex;
    align-items: center; }
    .container.bookmark_bookmark_create .row .col form {
      width: 100%;
      display: flex;
      justify-content: space-between; }
    .container.bookmark_bookmark_create .row .col p input {
      border: 1px solid #eee;
      border-radius: 10px;
      background: #fff;
      height: 56px;
      margin-left: 15px;
      width: 380px; }
    .container.bookmark_bookmark_create .row .col input[type=submit] {
      border: none;
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 28px;
      background: #ea545d; }
  .container.bookmark_bookmark_update .row .col {
    border: 1px solid #eee;
    border-radius: 30px;
    overflow: hidden;
    padding: 30px;
    background: #f9f9f9;
    display: flex;
    align-items: center; }
    .container.bookmark_bookmark_update .row .col form {
      width: 100%;
      display: flex;
      justify-content: space-between; }
    .container.bookmark_bookmark_update .row .col p input {
      border: 1px solid #eee;
      border-radius: 10px;
      background: #fff;
      height: 56px;
      margin-left: 15px;
      width: 380px; }
    .container.bookmark_bookmark_update .row .col input[type=submit] {
      border: none;
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 28px;
      background: #277cdb; }
  .container.bookmark_bookmark_confirm_delete .row .col {
    border: 1px solid #eee;
    border-radius: 30px;
    overflow: hidden;
    padding: 30px;
    background: #f8d7da;
    display: flex;
    align-items: center; }
    .container.bookmark_bookmark_confirm_delete .row .col form {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .container.bookmark_bookmark_confirm_delete .row .col form .alert-danger {
        border-color: transparent !important; }
    .container.bookmark_bookmark_confirm_delete .row .col p input {
      border: 1px solid #eee;
      border-radius: 10px;
      background: #fff;
      height: 56px;
      margin-left: 15px;
      width: 380px; }
    .container.bookmark_bookmark_confirm_delete .row .col input[type=submit] {
      border: none;
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 28px;
      background: #000; }
  .container.home {
    background: url(/static/home/images/background.jpg);
    background-size: cover;
    margin-top: -80px;
    height: 100%;
    z-index: 1; }
    .container.home .row {
      margin: 0;
      height: 100%; }
      .container.home .row .col {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        z-index: 3;
        position: relative;
        width: 100%;
        height: 100%; }
        .container.home .row .col:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: #000;
          opacity: .7;
          z-index: -1; }
        .container.home .row .col h1 {
          font-size: 90px;
          color: #fff;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }

.bg-light {
  background-color: transparent !important; }

body.blog .container:nth-child(1) .row {
  position: relative;
  width: 1140px;
  padding: 25px 0;
  margin: auto; }
body.blog .container:nth-child(2):after {
  display: none; }
body.blog .container:nth-child(2) > .row {
  position: relative;
  width: 1140px;
  padding: 0;
  margin: auto; }
  body.blog .container:nth-child(2) > .row .col {
    padding: 0; }
    body.blog .container:nth-child(2) > .row .col .page-header {
      padding: 50px 20px 50px 40px; }
    body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_list {
      padding: 50px 0 0 0; }
      body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_list .post {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        position: relative;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0; }
        body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_list .post .date {
          width: 100%; }
          body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_list .post .date p {
            font-family: 'Noto Sans KR';
            font-weight: 300;
            color: #666;
            font-size: 16px; }
        body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_list .post h1 {
          width: 100%;
          padding-bottom: 15px; }
          body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_list .post h1 a {
            font-family: "Noto Sans KR", sans-serif;
            font-size: 24px;
            font-weight: 500;
            color: #333; }
        body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_list .post > a {
          position: absolute;
          right: 0;
          top: -3px;
          background: #f9f9f9;
          border: 1px solid #ccc;
          border-radius: 10px;
          padding: 10px 25px; }
        body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_list .post > p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 1.5em;
          height: 3em;
          font-size: 18px;
          color: #666;
          font-weight: 300;
          width: 100%; }
    body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail {
      position: relative;
      padding: 80px 0 0 0; }
      body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .post {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        position: relative;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0; }
        body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .post .date {
          width: 83%;
          font-family: 'Noto Sans KR';
          font-weight: 300;
          color: #666;
          font-size: 16px; }
        body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .post h1 {
          width: 83%;
          padding-bottom: 15px;
          font-family: "Noto Sans KR", sans-serif;
          font-size: 24px;
          font-weight: 500;
          color: #333; }
        body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .post > a {
          position: absolute;
          right: 0;
          top: -3px;
          background: #f9f9f9;
          border: 1px solid #ccc;
          border-radius: 10px;
          padding: 10px 25px; }
          body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .post > a.btn-default {
            right: 120px;
            height: 46px; }
          body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .post > a.del_button {
            height: 46px; }
        body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .post > p {
          line-height: 1.5em;
          font-size: 18px;
          color: #666;
          font-weight: 300;
          padding-top: 30px;
          padding-bottom: 50px;
          border-top: 3px solid #000;
          width: 100%; }
      body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail > .btn-default {
        position: relative;
        display: flex;
        width: 140px;
        justify-content: center;
        margin-right: auto;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px; }
      body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .comment {
        background: #f9f9f9;
        border-bottom: 1px solid #ccc;
        padding: 20px;
        position: relative;
        display: flex;
        flex-flow: wrap;
        justify-content: flex-start; }
        body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .comment .date {
          width: 100%;
          position: relative;
          font-size: 16px;
          font-weight: 300; }
          body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .comment .date a {
            position: absolute;
            right: 0;
            background: #000;
            border-radius: 6px;
            padding: 5px 15px 6px 15px; }
            body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .comment .date a.OK_button {
              background: #ea545d;
              right: 80px; }
            body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .comment .date a button {
              color: #fff; }
        body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .comment strong {
          position: absolute;
          left: 200px;
          font-size: 16px;
          font-weight: 500; }
        body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_detail .comment p:nth-child(4) {
          width: 100%;
          padding: 15px 0 0 0;
          font-size: 18px;
          color: #666; }
    body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_edit h1 {
      padding: 40px 0 40px 0;
      font-size: 24px;
      font-weight: 500;
      text-align: center; }
    body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_edit form p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px; }
      body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_edit form p label {
        width: 60px; }
      body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_edit form p input {
        background: #f9f9f9;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #ccc;
        text-indent: 20px; }
      body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_edit form p textarea {
        background: #f9f9f9;
        border-radius: 10px;
        border: 1px solid #ccc;
        text-indent: 20px; }
    body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_edit form > button {
      margin-top: 20px;
      position: relative;
      background: #ea545d;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 40px;
      margin-top: 10px; }
    body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_comment h1 {
      padding: 40px 0 40px 0;
      font-size: 24px;
      font-weight: 500;
      text-align: center; }
    body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_comment table td input {
      background: #f9f9f9;
      height: 40px;
      border-radius: 10px;
      border: 1px solid #ccc;
      text-indent: 20px;
      width: 100%; }
    body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_comment table td textarea {
      width: 100%;
      background: #f9f9f9;
      border-radius: 10px;
      border: 1px solid #ccc;
      text-indent: 20px; }
    body.blog .container:nth-child(2) > .row .col .row .col-md-12 .blog_comment > button {
      margin-top: 20px;
      position: relative;
      background: #ea545d;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 40px;
      margin-top: 10px; }
