{% extends 'base.html' %}

{% block title %}
    Polls Add
{% endblock %}


{% block content %}
<div class="content container">
    <div class="row">
        <div class="col">

            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

            {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></li>
                {% endfor %}
            </ul>
            <a class="al" href="{% url 'polls:AllResults' %}">모든 설문 결과 보기</a>

            {% else %}
            <p>No polls are avilable.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    {% load static %}-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">-->
<!--</head>-->
<!--<body>-->
<!--{% if latest_question_list %}-->
<!--    <ul>-->
<!--        {% for question in latest_question_list%}-->
<!--            <li><a href="{%url 'polls:detail' question.id%}">{{question.question_text}}</a></li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--{% else%}-->
<!--    <p>No polls are available.</p>-->
<!--{% endif %}-->
<!--</body>-->
<!--</html>-->
